<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/web-css")
</head>
<body ng-app="TestSystemManagement">
    @RenderBody()
    <script src="~/Scripts/Lib-Js/angular-app.min.js"></script>
    <script src="~/Scripts/app/app.min.js"></script>
    @Scripts.Render("~/bundles/material")
    @Scripts.Render("~/site-js")
    @RenderSection("scripts", required: false)
</body>
</html>