<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/lib-css")
</head>
<body ng-app="TestManagementSystem">
    @RenderBody()
    @Scripts.Render("~/bundles/material")
    @Scripts.Render("~/bundles/angular-lib")
    @Scripts.Render("~/site-js")
    <script src="~/Scripts/app/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>